@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background: #F7F7F7;
}

nav ul li a {
  color: #215a51;
  font-size: 18px;
  font-weight: 700;
  padding:0px 16px;
}